## 2: SECOND ALGORITHM - WHERE WILL THEY SHOP?

Outcome (example):
1. input: Monday,Tuesday...
2. output: store name X,Y...

### Load and view data

In [1]:
# data for HH
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")

NameError: name 'pd' is not defined

In [3]:
# data for different days vs stores
df_Monday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_Mo.csv")
df_Tuesday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_Tu.csv")
df_Wednesday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_We.csv")
df_Thursday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_Th.csv")
df_Friday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_Fr.csv")
df_Saturday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_Sa.csv")
df_Sunday = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2_Su.csv")

In [4]:
    # Function to generate #visits per day of the week
from AlgorithmDAYS_HH2 import beforeNY, AfterNY, daysAfterNY

    #Function to define the limits for total visits, days, same store and type per week
from AlgorithmCOUNTS_HH2 import CountTotalVisits, CountTotalDays, CountStoreName, CountTimePerDay, CountStoreType, CountTotalPerday, CountVisitsPerDay, CountTimingPerDay

    # Function to decide time (morning, noon. afternoon) per visited store
from AlgorithmTIMES_HH2 import AlbertHeijn, Okay, Delhaize, Carrefour, VersavelPoelman, Sys, Brabo, Ikea, Kruidvat

    # Function to decide amounts per visit & per week
from AlgorithmAMOUNT_HH2 import StoreAmount, WeekAmount, StoreCount, WeekCount

# 1. SELECT STORE NAME

In [21]:
df_Monday

         store_name   store_type  weight
0      Albert Heijn  supermarket       3
1               Sys       bakery       1
2  Versavel Poelman      butcher       1

In [5]:
#create random samples for this day based on the assigned weights
def Mondays(n):
    df_Mondays = df_Monday.sample(n=n, weights='weight', replace=True)
    df_Mondays = df_Mondays.assign(day='Monday')
    del df_Mondays['weight']

    return df_Mondays

In [6]:
Mondays(1)

  store_name store_type     day
1        Sys     bakery  Monday

In [7]:
#create random samples for this day based on the assigned weights
def Tuesdays(n):
    df_Tuesdays = df_Tuesday.sample(n=n, weights='weight', replace=True)
    df_Tuesdays = df_Tuesdays.assign(day='Tuesday')
    del df_Tuesdays['weight']

    return df_Tuesdays

In [8]:
#create random samples for this day based on the assigned weights
def Wednesdays(n):
    df_Wednesdays = df_Wednesday.sample(n=n, weights='weight', replace=True)
    df_Wednesdays = df_Wednesdays.assign(day='Wednesday')
    del df_Wednesdays['weight']

    return df_Wednesdays

In [9]:
#create random samples for this day based on the assigned weights
def Thursdays(n):
    df_Thursdays = df_Thursday.sample(n=n, weights='weight', replace=True)
    df_Thursdays = df_Thursdays.assign(day='Thursday')
    del df_Thursdays['weight']

    return df_Thursdays

In [10]:
#create random samples for this day based on the assigned weights
def Fridays(n):
    df_Fridays = df_Friday.sample(n=n, weights='weight', replace=True)
    df_Fridays = df_Fridays.assign(day='Friday')
    del df_Fridays['weight']

    return df_Fridays

In [11]:
#create random samples for this day based on the assigned weights
def Saturdays(n):
    df_Saturdays = df_Saturday.sample(n=n, weights='weight', replace=True)
    df_Saturdays = df_Saturdays.assign(day='Saturday')
    del df_Saturdays['weight']

    return df_Saturdays

In [12]:
#create random samples for this day based on the assigned weights
def Sundays(n):
    df_Sundays = df_Sunday.sample(n=n, weights='weight', replace=True)
    df_Sundays = df_Sundays.assign(day='Sunday')
    del df_Sundays['weight']

    return df_Sundays

# New function for store per day

In [13]:
dataframe = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")

In [14]:
df1 = daysAfterNY(dataframe)
df1

 RERUN - Too few/many visits per week

   times        day
4    2.0     Monday
5    1.0    Tuesday
7    1.0  Wednesday
4    0.0   Thursday
4    0.0     Friday
7    0.0   Saturday
4    0.0     Sunday

In [24]:
### 2. What STORE?
            # identify counts for visits per weekday
mo = int(df1["times"].values[0])
tu = int(df1["times"].values[1])
we = int (df1["times"].values[2])
th = int (df1["times"].values[3])
fr = int (df1["times"].values[4])
sa = int (df1["times"].values[5])
su = int (df1["times"].values[6])

    # Generate times for the [previously identified] shopping dags + corresponding time
stores = [Mondays(mo), Tuesdays(tu), Wednesdays(we), Thursdays(th), Fridays(fr), Saturdays(sa), Sundays(su)]
    # create one df for all visited stores + day of the week
stores = pd.concat(stores)

stores

         store_name   store_type        day
2  Versavel Poelman      butcher     Monday
1               Sys       bakery     Monday
1              Okay  supermarket    Tuesday
0      Albert Heijn  supermarket  Wednesday

In [26]:
AlbertHeijn(1)

        time    store_name
0  afternoon  Albert Heijn

In [15]:
def storeperday(dataframes):
    restart = True 

    while restart:

        ### 2. What STORE?
                    # identify counts for visits per weekday
        mo = int(dataframes["times"].values[0])
        tu = int(dataframes["times"].values[1])
        we = int (dataframes["times"].values[2])
        th = int (dataframes["times"].values[3])
        fr = int (dataframes["times"].values[4])
        sa = int (dataframes["times"].values[5])
        su = int (dataframes["times"].values[6])

            # Generate store names for the [previously identified] shopping dags + corresponding store type
        stores = [Mondays(mo), Tuesdays(tu), Wednesdays(we), Thursdays(th), Fridays(fr), Saturdays(sa), Sundays(su)]
            # create one df for all visited stores + day of the week
        stores = pd.concat(stores)


        ### 3. What TIME?

        # Identifier counts for store names per week
        AHt = (stores['store_name'] == 'Albert Heijn').sum()
        OKt = (stores['store_name'] == 'Okay').sum()
        DHt = (stores['store_name'] == 'Delhaize').sum()
        CFt = (stores['store_name'] == 'Carrefour').sum()
        VPt = (stores['store_name'] == 'Versavel Poelman').sum()
        SYt = (stores['store_name'] == 'Sys').sum()
        BRt = (stores['store_name'] == 'Brabo').sum()
        IKt = (stores['store_name'] == 'Ikea').sum()
        KRt = (stores['store_name'] == 'Kruidvat').sum()

        # Generate times per storename and compile in df with stores
        storetimes = [AlbertHeijn(AHt), Okay(OKt), Delhaize(DHt), Carrefour(CFt), VersavelPoelman(VPt), Sys(SYt), Brabo(BRt), Ikea(IKt), Kruidvat(KRt)]
        storetimes = pd.concat(storetimes)
        stores = pd.merge(stores, storetimes, on="store_name")

        ### CHECKPOINT: range for amount of stores per week.day

            # Check if the total STORE TYPES VISITED PER WEEK are within the normal range
        for storetype in dataframe['store_type']:
            typecount = stores[stores['store_type']==storetype]['store_type'].count()
            countstoretype = CountStoreType(storetype)
            minstoretype = countstoretype[0]
            maxstoretype = countstoretype[1]
            if typecount < minstoretype:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too few store type:", storetype)
                restart = True
                break # force restart
            elif maxstoretype < typecount:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too many store type:", storetype)
                restart = True
                break # force restart
            else:
                pass


            # Check if the total STORE NAMES VISITED PER WEEK are within the normal range
        for storename in dataframe['store_name']:
            namecount = stores[stores['store_name']==storename]['store_name'].count()
            countstorename = CountStoreName(storename)
            minstorename = countstorename[0]
            maxstorename = countstorename[1]
            if namecount < minstorename:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too few store name:", storename)
                restart = True
                break # force restart
            elif maxstorename < namecount:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too many store name:", storename)
                restart = True
                break # force restart
            else:
                pass


            # Check if the total STORES VISITED PER DAY are within the normal range
        for day in dataframe['day']:
            perdaycount = stores[stores['day']==day]['day'].count()
            CountTotalPerday = CountVisitsPerDay(day)
            minstoreperday = CountTotalPerday[0]
            maxstoreperday = CountTotalPerday[1]
            if namecount < minstoreperday:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too few stores on:", day)
                restart = True
                break # force restart
            elif maxstoreperday < namecount:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too many stores on:", day)
                restart = True
                break # force restart
            else:
                restart = False
                return stores
                break

In [16]:
storetimes

NameError: name 'storetimes' is not defined

# Itemcounts per store

In [28]:
def countsperstore(dataframes):
    storetime = dataframes[['store_name','time']]
    storetime

    restart = True 

    while restart:
        storecounts = []

        for store, time in storetime.itertuples(index=False):
            storecounts.append(StoreCount(store,time))

        dataframes['counts'] = storecounts

        # Check if the total ITEMS PER STORE are within the normal range
        for items in dataframe['item_type']:
            week9count = dataframes['counts'].sum()
            NormWeekCount = WeekCount()
            minWeekCount = NormWeekCount[0]
            maxWeekCount = NormWeekCount[1]
            if week9count < minWeekCount:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too few items per storeNAME:", week9count)
                restart = True
                break # force restart
            elif maxWeekCount < week9count:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - Too many items per storeNAME:", week9count)
                restart = True
                break # force restart
            else:
                restart = False
                return dataframes
                break

In [29]:
# WeekCount()

(31, 98)