## AMOUNT COUNTS

### Import libraries

In [1]:
# %matplotlib notebook
%matplotlib inline
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi
from datetime import time
import matplotlib.dates as mdates
from matplotlib.ticker import StrMethodFormatter
from matplotlib.pyplot import figure

import random

### Load and view data

In [2]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\20204113\\OneDrive - TU Eindhoven\\2_Research\\1_Groceries\\DATA\\9th week - narrative (3rd attempt)\\HH2\\df\\df_HH2.csv'

In [37]:
df.describe()

,week,order_ID,amount,price_unit,price_total,item_id,type_id,order_amount,order_price,day_num,storetype_num,storename_num,cat_num,time_num,promo_num,timestamp,times_min,dates_days,weights_itemtype
count,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,3.720000e+02,372.000000,3.720000e+02,372.000000
mean,4.043011,18.881720,1.274194,2.602328,2.867247,148.889785,49.142473,30.381720,68.919265,2.661290,3.392473,4.212366,7.462366,1.387097,0.083333,1.639888e+18,1353.930108,2.021425e+07,7.166667
std,2.478648,10.908193,1.103819,1.947725,2.019200,89.778771,36.052576,16.118312,36.489459,1.591184,1.344550,2.396214,4.079557,0.896621,0.276758,1.924092e+15,371.187009,4.252837e+03,7.281714
min,1.000000,1.000000,1.000000,0.064680,0.064680,0.000000,0.000000,1.000000,2.950000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.637435e+18,802.000000,2.021112e+07,1.000000
25%,1.000000,8.000000,1.000000,1.300000,1.543970,68.750000,22.000000,13.000000,25.571500,2.000000,4.000000,3.000000,6.000000,1.000000,0.000000,1.637948e+18,1055.000000,2.021113e+07,2.000000
50%,4.000000,20.000000,1.000000,2.240250,2.462860,142.500000,35.000000,34.000000,72.487014,3.000000,4.000000,4.000000,9.000000,2.000000,0.000000,1.639306e+18,1179.500000,2.021121e+07,4.000000
75%,6.000000,26.250000,1.000000,3.290000,3.875000,225.250000,75.250000,38.000000,103.329980,4.000000,4.000000,6.000000,11.000000,2.000000,0.000000,1.641640e+18,1725.000000,2.022011e+07,9.000000
max,8.000000,39.000000,15.000000,15.610000,15.610000,313.000000,138.000000,53.000000,114.878340,6.000000,4.000000,8.000000,15.000000,3.000000,1.000000,1.643286e+18,1858.000000,2.022013e+07,25.000000

In [8]:
df['time'] = df['time'].replace(['afternoon', 'evening'], 'afternoon')

In [9]:
df_orders = df[['order_ID', 'week', 'store_name', 'storename_num', 'store_type', 'storetype_num','day', 'day_num', 'time', 'time_num', 'timestamp', 'times', 'dates', 'times_min', 'dates_days', 'order_amount', 'order_price']]
df_orders = df_orders.drop_duplicates()

# Function (store as option)

In [10]:
def StoreAmount(storename, time):
    df_store = df[df['store_name'] == storename]
    if (storename == 'Albert Heijn') & (time != 'afternoon'):
        df_store = df_store[df_store['time'] != 'afternoon']
        df_AHm = df_store.groupby(['order_ID'])['amount'].sum()
        df_AHm = pd.DataFrame (df_AHm)
        df_AHm = df_AHm.reset_index()
        min = df_AHm.min(axis=0)['amount']
        max = df_AHm.max(axis=0)['amount']
        print ((min,max))
        return random.randint(min, max)
    elif (storename == 'Albert Heijn') & (time == 'afternoon'):
        df_store = df_store[df_store['time'] == 'afternoon']
        df_AHm = df_store.groupby(['order_ID'])['amount'].sum()
        df_AHm = pd.DataFrame (df_AHm)
        df_AHm = df_AHm.reset_index()
        min = df_AHm.min(axis=0)['amount']
        max = df_AHm.max(axis=0)['amount']
        print ((min,max))
        return random.randint(min, max)
    else:
        df_store = df_store.groupby(['order_ID'])['amount'].sum()
        df_store = pd.DataFrame (df_store)
        df_store = df_store.reset_index()        
        min = df_store.min(axis=0)['amount']
        max = df_store.max(axis=0)['amount']
        print ((min,max))
        return random.randint(min, max)

In [11]:
StoreAmount('Okay', 'afternoon')

(9, 53)

31

In [12]:
def StoreCount(storename, time):
    df_store = df[df['store_name'] == storename]
    if (storename == 'Albert Heijn') & (time != 'afternoon'):
        df_store = df_store[df_store['time'] != 'afternoon']
        df_AHm = df_store.groupby(['order_ID'])['amount'].count()
        df_AHm = pd.DataFrame (df_AHm)
        df_AHm = df_AHm.reset_index()
        min = df_AHm.min(axis=0)['amount']
        max = df_AHm.max(axis=0)['amount']
        return random.randint(min, max)
    elif (storename == 'Albert Heijn') & (time == 'afternoon'):
        df_store = df_store[df_store['time'] == 'afternoon']
        df_AHm = df_store.groupby(['order_ID'])['amount'].count()
        df_AHm = pd.DataFrame (df_AHm)
        df_AHm = df_AHm.reset_index()
        min = df_AHm.min(axis=0)['amount']
        max = df_AHm.max(axis=0)['amount']
        return random.randint(min, max)
    else:
        df_store = df_store.groupby(['order_ID'])['amount'].count()
        df_store = pd.DataFrame (df_store)
        df_store = df_store.reset_index()        
        min = df_store.min(axis=0)['amount']
        max = df_store.max(axis=0)['amount']
        return random.randint(min, max)

In [13]:
StoreCount('Okay', 'afternoon')

28

# For the entire week

In [14]:
def WeekAmount():
    df_amount = df_orders.groupby(['week'])['order_amount'].sum()
    df_amount = pd.DataFrame (df_amount)
    df_amount = df_amount.reset_index()

    min = df_amount.min(axis=0)['order_amount']
    max = df_amount.max(axis=0)['order_amount']
    return (min,max)

In [15]:
WeekAmount()

(43, 112)

In [16]:
def WeekCount():
    df_count = df.groupby(['week'])['amount'].count()
    df_count = pd.DataFrame (df_count)
    df_count = df_count.reset_index()

    min = df_count.min(axis=0)['amount']
    max = df_count.max(axis=0)['amount']
    return (min,max)

In [17]:
WeekCount()

(31, 98)

# Per category

In [18]:
def CatCount():
    df_count = df.groupby(['week'])['category'].nunique()
    df_count = pd.DataFrame (df_count)
    df_count = df_count.reset_index()

    min = df_count.min(axis=0)['category']
    max = df_count.max(axis=0)['category']
    return (min,max)

In [19]:
CatCount()

(7, 13)

### Check the counts for each category

In [20]:
# group per period
BeforeNY = df.copy()
BeforeNY = BeforeNY[BeforeNY['week'] < 5]

AfterNY = df.copy()
AfterNY = AfterNY[AfterNY['week'] > 4]

def PerCatCount(category):
    data = {'week': [5,6,7,8]}
    weeks = pd.DataFrame(data)
    df_cat = AfterNY[AfterNY['category'] == category]
    df_cat = df_cat.groupby(['week'])['amount'].count()
    df_cat = pd.DataFrame (df_cat)
    df_cat = df_cat.reset_index() 
    df_cat = weeks.merge(df_cat, how='left').fillna(0)
    min = df_cat.min(axis=0)['amount']
    max = df_cat.max(axis=0)['amount']
    return (min, max)

In [21]:
# for entire period
def PerCatCountALL(category):
    data = {'week': [1,2,3,4,5,6,7,8]}
    weeks = pd.DataFrame(data)
    df_cat = df[df['category'] == category]
    df_cat = df_cat.groupby(['week'])['amount'].count()
    df_cat = pd.DataFrame (df_cat)
    df_cat = df_cat.reset_index() 
    df_cat = weeks.merge(df_cat, how='left').fillna(0)
    min = df_cat.min(axis=0)['amount']
    max = df_cat.max(axis=0)['amount']
    return (min, max)

In [51]:
PerCatCountALL('fruit & vegetables')

(3, 34)

### Check the counts for each category PER STORE TYPE

In [57]:
# for entire period
def PerCatCountSTORE(category, storetype):
    data = {'order_ID': range(1,39)}
    orderID = pd.DataFrame(data)
    df_cat = df[df['store_type'] == storetype]
    df_cat = df_cat[df_cat['category'] == category]
    df_cat = df_cat.groupby(['order_ID'])['amount'].count()
    df_cat = pd.DataFrame (df_cat)
    df_cat = df_cat.reset_index() 
    df_cat = orderID.merge(df_cat, how='left').fillna(0)
    min = df_cat.min(axis=0)['amount']
    max = df_cat.max(axis=0)['amount']
    return (min, max)

In [59]:
PerCatCountSTORE('meat, fish & veggie', 'supermarket')

(0.0, 9.0)